<aside class="datos__perfil">
    <div class="sticky__scroll">
        <img src="../assets/foto_perfil.png" class="foto__usuario"/>
        <div class="nombre__usuario">
            <label> Nombre de Usuario </label>
            <button class="boton_transparente">
                <i class="fa-solid fa-pen"></i>
            </button>
        </div>
        <span> <span class="titulo__datos">Edad:</span> 84 años </span>
        <span> <span class="titulo__datos">Ubicación:</span> CABA </span>
    </div>
</aside>