<aside class="card_filtro">
  <div class="texto__titulo alineacion texto__fuente">Filtros</div>
  <form>
    <div class="texto__valoracion alineacion texto__fuente">
      Valoracion
    </div>
    <article class="input_container_filtro">
      <div class="input_filtro">
        <label class="texto__input texto__fuente_label"> Desde </label>
        <input
          type="text"
          placeholder="placeholder"
          class="tamaño__input"
        />
      </div>
      <div class="input_filtro">
        <label class="texto__input texto__fuente_label"> Hasta</label>
        <input
          type="text"
          placeholder="placeholder"
          class="tamaño__input"
        />
      </div>
    </article>
    <article class="input__checkbox espacio_checkbox">
      <label class="texto__input texto__fuente_label">
        <input type="checkbox" />
        On Fire
      </label>
      <label class="texto__input texto__fuente_label">
        <input type="checkbox" />
        Es Promesa
      </label>
    </article>
  </form>
</aside>