
  <section class="card card__border">
    <div class="card__imagen">
      <img src="../assets/messi_v2.jpg" alt="" />
    </div>
    <div class="card__data nombre">
      <strong class="titulo__nombre__font"> Lionel Messi</strong>
      <strong class="titulo__nombre__font">
        <i class="fa-solid fa-id-badge icon_color"></i>5</strong
      >
      <strong class="fuente_estrella titulo__nombre__font">
        <i class="fa-solid fa-star icon_color"></i>124</strong
      >
    </div>
    <div class="card__data fisico">
      <p>
        <strong class="texto__strong">
          <i class="fa-solid fa-weight-scale icon_color"></i>Peso</strong
        >
        72 Kilos
      </p>
      <p>
        <strong class="texto__strong">
          <i class="fa-solid fa-person-arrow-up-from-line icon_color"></i
          >Altura</strong
        >
        1.7 metros
      </p>
    </div>
    <div class="card__data datos__generales">
      <p><strong class="texto__strong">Casaca:</strong> 10</p>
      <p>
        <strong class="texto__strong">Nacimiento:</strong> 24/07/1987 (35
        años)
      </p>
      <p><strong class="texto__strong">Seleccion:</strong> Argentina</p>
      <p><strong class="texto__strong">Posicion:</strong> Delantero</p>
    </div>
    <div class="card__column">
      <strong class="titulo__nombre__font tamaño__titulo__cotizacion">
        Cotizacion USD 80.000.000</strong
      >
      <strong class="cedido" *ngIf="esCedidaPor"> Cedido por Daniel Gonzalez </strong>
    </div>
  </section>

