  
            <div class="card">
                  <div class="card__title">
                      <h2>Supermercado Chumbo</h2>
                      <i class="fab fa-brands fa-shopify"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
  
              <div class="card">
                  <div class="card__title">
                      <h2>Librería Jorge</h2>
                      <i class="fas fa-solid fa-pen"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class= "pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              <div class="card">
                  <div class="card__title">
                      <h2>Kiosko Lo Pibe!</h2>
                      <i class="fas fa-solid fa-store"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              
              <div class="card">
                  <div class="card__title">
                      <h2>Supermercado Chumbo</h2>
                      <i class="fab fa-brands fa-shopify"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
  
              <div class="card">
                  <div class="card__title">
                      <h2>Librería Jorge</h2>
                      <i class="fas fa-solid fa-pen"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              <div class="card">
                  <div class="card__title">
                      <h2>Kiosko Lo Pibe!</h2>
                      <i class="fas fa-solid fa-store"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              <div class="card">
                  <div class="card__title">
                      <h2>Supermercado Chumbo</h2>
                      <i class="fab fa-brands fa-shopify"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
  
              <div class="card">
                  <div class="card__title">
                      <h2>Librería Jorge</h2>
                      <i class="fas fa-solid fa-pen"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              <div class="card">
                  <div class="card__title">
                      <h2>Kiosko Lo Pibe!</h2>
                      <i class="fas fa-solid fa-store"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              <div class="card">
                  <div class="card__title">
                      <h2>Supermercado Chumbo</h2>
                      <i class="fab fa-brands fa-shopify"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
  
              <div class="card">
                  <div class="card__title">
                      <h2>Librería Jorge</h2>
                      <i class="fas fa-solid fa-pen"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
              <div class="card">
                  <div class="card__title">
                      <h2>Kiosko Lo Pibe!</h2>
                      <i class="fas fa-solid fa-store"></i>
                  </div>
                  <div class="card__content">
                      <p><span>Direccion</span>Avenida Siempre viva 5555, Springfield </p>
                      <p><span>Ubicación geográfica</span> (34,55443,44,42342) </p>
                      <p><span>Distancia</span> 3 kilómetros</p>
                  </div>
                  <div class="divaider"></div>
                  <p><span>Stock de sobres</span> 45 unidades <span class="pedidos-pendientes">Pedidos pendientes</span> </p>
                  <div class="divaider"></div>
                  <h2 class="card__content--precio">Precio por sobre $240</h2>
              </div>
