
<section class="section-filtro">
  <div class="contenedor-nav">
      <h2 class="titulo-filtro"> Ordenar por </h2>
      <div class="linea-divisoria"></div>
      <div class="container-label">
          <label>
              <input type="radio"> 
              Menor distancia
          </label>
          <label>
              <input type="radio">
              Más barato
          </label>
          <label>
              <input type="radio">
              Más sobres
          </label>
          <label>
              <input type="radio">
              Solo los mas cercanos
          </label>
      </div>
  </div>
</section>